@import 'settings';
@import 'foundation-emails';

/* ===========================
	Partial Section Styles
============================ */

.label {
  background: $label-color;
  color: $white;
  padding: 4px 8px 4px 8px;
  border-radius: $global-radius;
}

.ads {
  background: $white !important;
  border: 1px solid darken($light-gray, 10%) !important;
}