/* Leave Blank if you don't need mailchimp editable regions */

/**
* @tab Page
* @section Content
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section Content_alt
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section Content_alt2
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section Content2
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}
/**
* @tab Page
* @section Content2_alt
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}
/**
* @tab Page
* @section Content2_alt2
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section Content3
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section Content3_alt
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section Content3_alt2
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section Content4
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}
/**
* @tab Page
* @section Content4_alt
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}
/**
* @tab Page
* @section Content4_alt2
* @style paragraph
*/

.copy p {
	/*@editable*/ margin:0;
	/*@editable*/ margin-bottom:10px;
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-size:14px;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
}

.copy a:link, a:hover, a:visited, a:active {

	/*@editable*/ margin:0;color:#f50 !important;
	/*@editable*/ font-family:Helvetica, Arial, sans-serif;
	/*@editable*/ font-weight:400;
	/*@editable*/ line-height:1.3;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:left;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Page
* @section DidYouKnow
* @style paragraph
*/

.didyouknow strong {
	/*@editable*/ color:#012a54;;
	/*@editable*/ font-size:18px;
}
