---
subject: YLDetails
---

<spacer size="16"></spacer>
<p class="text-center"><small><a href="*|ARCHIVE|*">read this on the web</a></small></p>
<container>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <p class="text-center" mc:edit="date"><small class="top_date">Tuesday, Sept. 12, 2017</small></p>
      <center>
        <img src="http://www.philadelphiabar.org/WebObjects/PBA.woa/Contents/WebServerResources/CMSResources/YLDetailslogo.jpg">
      </center>
      <hr/>
      <p class="text-center"><small>NEWS OF THE PHILADELPHIA BAR ASSOCIATION'S YOUNG LAWYERS DIVISION</small></p>
      <hr/>
      <div mc:repeatable="first_content_row" mc:hideable mc:variant="No Image">
        <!-- article -->
      <spacer size="16"></spacer>
      <h1 mc:edit="item1_headline">
        Section One Headline
      </h1>
      <span class="label" mc:edit="item1_label" mc:hideable>Special Label</span>
      <spacer size="5"></spacer>
      <p class="lead" mc:edit="item1_tagline" mc:hideable>
         Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      </p>
      <div mc:edit="item1_copy" class="copy" mc:label="Content">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
          </p>
      </div>
        <spacer size="5"></spacer>
      <!-- article end -->
      </div>
      <div mc:repeatable="first_content_row" mc:hideable mc:variant="Left Image / Content Right">
        <!-- article -->
      <spacer size="16"></spacer>
        <h1 mc:edit="item1_headline">
          Section One Headline
        </h1>
        <span class="label" mc:edit="item1_label_alt" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item1_tagline_alt" mc:hideable>
            Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <row>
          <columns small="12" large="6">
                <img mc:edit="item1_img_alt" mc:hideable class="small-float-center" src="http://placehold.it/250x113" height="" width="" alt="" vspace="4" hspace="4"/>
          </columns>
          <columns small="12" large="6">
            <div mc:edit="item1_copy_alt" class="copy" mc:label="Content_alt">
              <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
                </p>
            </div>
          </columns>
        </row>
        <spacer size="5"></spacer>
      <!-- article end -->
      </div>
      <div mc:repeatable="first_content_row" mc:hideable mc:variant="Image Top">
        <!-- article -->
      <spacer size="16"></spacer>
        <h1 mc:edit="item1_headline">
          Section One Headline
        </h1>
        <span class="label" mc:edit="item1_label_alt2" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item1_tagline_alt2" mc:hideable>
          Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <center>
          <img mc:edit="item1_img_alt2" mc:hideable class="float-center" src="http://placehold.it/500x150" height="" width="" alt="" vspace="4" hspace="4"/>
        </center>
        <spacer size="5"></spacer>
        <div mc:edit="item1_copy_alt2" class="copy" mc:label="Content_alt2">
          <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
            </p>
        </div>
        <spacer size="5"></spacer>
      <!-- article end -->
      </div>
      
      <callout class="ads">
      <p class="text-center"><small>Advertisements</small></p>
      <row>
        <columns small="12" large="6">
          <p class="text-center">
            <img src="http://placehold.it/250x113" mc:edit="ad1_image" class="float-center" mc:hideable width="" height="">
          </p>
        </columns>
        <columns small="12" large="6">
          <p class="text-center">
            <img src="http://placehold.it/250x113" mc:edit="ad2_image" class="float-center" mc:hideable width="" height="">
          </p>
        </columns>
      </row>
      </callout>
      <div mc:repeatable="callout_content_row" mc:hideable mc:variant="No Image">
        <!-- Callout article -->
        <spacer size="16"></spacer>
        <callout>
        <h1 mc:edit="callout_headline">
        Callout Headline
        </h1>
        <span class="label" mc:edit="callout_label" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="callout_tagline" mc:hideable>
         Callout Lead Sentence 
        </p>
        <div mc:edit="callout_copy" class="copy" mc:label="Content2">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
          </p>
        </div>
        </callout>
        <!-- Callout article end -->
      </div>
      <div mc:repeatable="callout_content_row" mc:hideable mc:variant="Image Left / Content Right">
        <!-- Callout article -->
        <spacer size="16"></spacer>
        <callout>
        <h1 mc:edit="callout_headline_alt">
        Callout Headline
        </h1>
        <span class="label" mc:edit="callout_label_alt" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="callout_tagline_alt" mc:hideable>
         Callout Lead Sentence 
        </p>
          <row>
            <columns small="12" large="6">
              <img mc:edit="callout_img_alt" mc:hideable class="small-float-center" src="http://placehold.it/250x113" height="" width="" alt="" vspace="4" hspace="4" />
            </columns>
            <columns small="12" large="6">
              <div mc:edit="callout_copy_alt" class="copy" mc:label="Content2_alt">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
                </p>
              </div>
            </columns>
          </row>
        </callout>
        <!-- Callout article end -->
      </div>
      <div mc:repeatable="callout_content_row" mc:hideable mc:variant="Image Top">
        <!-- Callout article -->
        <spacer size="16"></spacer>
        <callout>
        <h1 mc:edit="callout_headline_alt2">
        Callout Headline
        </h1>
        <span class="label" mc:edit="callout_label_alt2" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="callout_tagline_alt2" mc:hideable>
         Callout Lead Sentence 
        </p>
        <center>
        <img mc:edit="callout_img_alt2" mc:hideable class="float-center" src="http://placehold.it/500x150" height="" width="" alt="" vspace="4" hspace="4"/>
        </center>
        <spacer size="5"></spacer>
        <div mc:edit="callout_copy_alt2" class="copy" mc:label="Content2_alt2">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
          </p>
        </div>
        </callout>
        <!-- Callout article end -->
      </div>
      <div mc:repeatable="second_content_row" mc:hideable mc:variant="No Image">
        <!-- article -->
        <spacer size="16"></spacer>
        <h1 mc:edit="item2_headline">
          Section Two Headline
        </h1>
        <span class="label" mc:edit="item2_label" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item2_tagline" mc:hideable>
          Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <div mc:edit="item2_copy" class="copy" mc:label="Content3">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
          </p>
        </div>
        <spacer size="5"></spacer>
        <!-- article end -->
      </div>
      <div mc:repeatable="second_content_row" mc:hideable mc:variant="Image Left / Content Right">
        <!-- article -->
        <spacer size="16"></spacer>
        <h1 mc:edit="item2_headline_alt">
          Section Two Headline
        </h1>
        <span class="label" mc:edit="item2_label_alt" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item2_tagline_alt" mc:hideable>
          Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <row>
          <columns small="12" large="6">
            <img mc:edit="item2_img_alt" mc:hideable class="float-center" src="http://placehold.it/250x113" height="" width="" alt=""
              vspace="4" hspace="4"/>
          </columns>
          <columns small="12" large="6">
            <div mc:edit="item2_copy_alt" class="copy" mc:label="Content3_alt">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
              </p>
            </div>
          </columns>
        </row>
        <spacer size="5"></spacer>
        <!-- article end -->
      </div>
      <div mc:repeatable="second_content_row" mc:hideable mc:variant="Image Top">
        <!-- article -->
        <spacer size="16"></spacer>
        <h1 mc:edit="item2_headline_alt2">
          Section Two Headline
        </h1>
        <span class="label" mc:edit="item2_label_alt2" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item2_tagline_alt2" mc:hideable>
          Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <center>
        <img mc:edit="item2_img_alt2" mc:hideable class="float-center" src="http://placehold.it/500x150" height="" width="" alt="" vspace="4" hspace="4"/>
        </center>
        <spacer size="5"></spacer>
        <div mc:edit="item2_copy_alt2" class="copy" mc:label="Content3_alt2">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
          </p>
        </div>
        <spacer size="5"></spacer>
        <!-- article end -->
      </div>
      <!-- ads -->
      <callout class="ads">
      <p class="text-center"><small>Advertisements</small></p>
      <row>
        <columns small="12" large="4">
          <p class="text-center">
            <img src="http://placehold.it/150x80" mc:edit="ad3_image" class="float-center" mc:hideable width="" height="">
          </p>
        </columns>
        <columns small="12" large="4">
          <p class="text-center">
            <img src="http://placehold.it/150x80" mc:edit="ad4_image" class="float-center" mc:hideable width="" height="">
          </p>
        </columns>
        <columns small="12" large="4">
          <p class="text-center">
            <img src="http://placehold.it/150x80" mc:edit="ad5_image" class="float-center" mc:hideable width="" height="">
          </p>
        </columns>
      </row>
      </callout>
      <!-- ads end -->
      <div mc:repeatable="third_content_row" mc:hideable mc:variant="No Image">
        <!-- article -->
        <spacer size="16"></spacer>
        <h1 mc:edit="item3_headline">
          Section Three Headline
        </h1>
        <span class="label" mc:edit="item3_label" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item3_tagline" mc:hideable>
           Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <div mc:edit="item3_copy" class="copy" mc:label="Content4">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
          </p>
        </div>
        <spacer size="5"></spacer>
        <!-- article end -->
      </div>
      <div mc:repeatable="third_content_row" mc:hideable mc:variant="Image Left / Content Right">
        <!-- article -->
        <spacer size="16"></spacer>
        <h1 mc:edit="item3_headline_alt">
          Section Three Headline
        </h1>
        <span class="label" mc:edit="item3_label_alt" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item3_tagline_alt" mc:hideable>
           Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <row>
          <columns small="12" large="6">
            <img mc:edit="item3_img_alt" mc:hideable class="float-center" src="http://placehold.it/250x113" height="" width="" alt="" vspace="4" hspace="4" />
          </columns>
          <columns small="12" large="6">
            <div mc:edit="item3_copy_alt" class="copy" mc:label="Content4_alt">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
              </p>
            </div>
          </columns>
        </row>
        <spacer size="5"></spacer>
        <!-- article end -->
      </div>
      <div mc:repeatable="third_content_row" mc:hideable mc:variant="Image Top">
        <!-- article -->
        <spacer size="16"></spacer>
        <h1 mc:edit="item3_headline_alt2">
          Section Three Headline
        </h1>
        <span class="label" mc:edit="item3_label_alt2" mc:hideable>Special Label</span>
        <spacer size="5"></spacer>
        <p class="lead" mc:edit="item3_tagline_alt2" mc:hideable>
           Lead Sentence Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <center>
        <img mc:edit="item3_img_alt2" class="float-center" src="http://placehold.it/500x150" height="" width="" alt="" vspace="4" hspace="4"/>
        </center>
        <spacer size="5"></spacer>
        <div mc:edit="item3_copy_alt2" class="copy" mc:label="Content4_alt2">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore laborum quae unde error aspernatur voluptatem. Minus rem dolorum fuga, nam voluptatem laudantium aut corrupti itaque, praesentium a unde <a href="https://www.philadelphiabar.org">sapiente accusamus</a>?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur minus maxime saepe dignissimos dolore mollitia blanditiis autem ratione maiores, quae at nemo labore necessitatibus ea quam sapiente harum repellat.
          </p>
        </div>
        <spacer size="5"></spacer>
        <!-- article end -->
      </div>
      <hr/>
      <div mc:hideable>
        <!-- Callout article -->
        <spacer size="16"></spacer>
        <center>
          <img class="float-center" src="http://www.philadelphiabar.org/WebObjects/PBA.woa/Contents/WebServerResources/CMSResources/didyou_header.jpg" alt="Did You Know" width="250" height="111" align="center" />
        </center>
        <spacer size="16"></spacer>
        <callout>
          <p class="lead didyouknow" mc:edit="didyouknow_content" mc:label="DidYouKnow">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae maxime est repudiandae. Minima <strong>amet dolore commodi!</strong> Quidem hic doloribus blanditiis cum veritatis eligendi temporibus? Rem, minima? Hic nam ducimus cum.
          </p>
        </callout>
        <!-- Callout article end -->
      </div>
    </columns>
  </row>
  <spacer size="16"></spacer>
  <hr/>
  <p class="text-center">
    &copy; *|DATE:Y|* Philadelphia Bar Association<br/>
  </p>
  <row class="collapsed footer">
    <columns small="6">
      <center>
        <menu>
          <item><a href="https://www.facebook.com/Young-Lawyers-Division-of-the-Philadelphia-Bar-Association-71506718731/"><img src="http://www.philadelphiabar.org/WebObjects/PBA.woa/Contents/WebServerResources/CMSResources/YLDetails_fb.jpg" alt="facebook icon" width="50" height="50"></a></item>
          <item><a href="https://twitter.com/PhilaBar"><img src="http://www.philadelphiabar.org/WebObjects/PBA.woa/Contents/WebServerResources/CMSResources/YLDetails_tw.jpg" alt="Twitter icon" width="50" height="50"></a></item>
          <item><a href="https://www.linkedin.com/company/60120/"><img src="http://www.philadelphiabar.org/WebObjects/PBA.woa/Contents/WebServerResources/CMSResources/YLDetails_in.jpg" alt="LinkedIn icon" width="50" height="50"></a></item>
          <item><a href="http://www.philadelphiabar.org/"><img src="http://www.philadelphiabar.org/WebObjects/PBA.woa/Contents/WebServerResources/CMSResources/YLDetails_philabar.jpg" alt="philabar homepage icon" width="50" height="50"></a></item>
        </menu>
      </center>
    </columns>
    <columns small="6">
      <center>
         Sent to <strong>*|EMAIL|*</strong>:
        <menu class="vertical">
          <item href="*|UNSUB|*">
            Unsubscribe
          </item>
          <item href="*|UPDATE_PROFILE|*">
            Update Profile
          </item>
          <item href="*|FORWARD|*">
            Forward to a Friend
          </item>
        </menu>
      </center>
    </columns>
  </row>
</container>
